<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="/dashboard" class="simple-text logo-normal"> مدیریت زمان </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item <%= path === "/dashboard" ? 'active' : '' %>">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>داشبورد</p>
                </a>
            </li>
            <li class="nav-item <%= path === "/profile" ? 'active' : '' %>">
                <a class="nav-link" href="/dashboard/profile">
                    <i class="material-icons">person</i>
                    <p>پروفایل کاربر</p>
                </a>
            </li>
            <li class="nav-item <%= path === "/working" ? 'active' : '' %>"> 
                <a class="nav-link" href="/dashboard/working/">
                    <i class="material-icons">apartment</i>
                    <p>شرکت ها</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./typography.html">
                    <i class="material-icons">library_books</i>
                    <p>تایپوگرافی</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>آیکن‌ها</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./map.html">
                    <i class="material-icons">location_ons</i>
                    <p>نقشه</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>اعلان‌ها</p>
                </a>
            </li>

            <li class="nav-item active-pro">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>پشتیبانی از</p>
                </a>
            </li>
        </ul>
    </div>
</div>
